/*TODO: Add Horizon custom font and make .title use it*/

/* FONTS */

/* HORIZON */
@font-face {
    font-family: 'Horizon';
    src: url('../Assets/Fonts/Horizon-Font/Horizon.woff2') format('woff2');
}

@font-face {
    font-family: 'Horizon Outlined';
    src: url('../Assets/Fonts/Horizon-Font/Horizon_Outlined.woff2') format('woff2');
}

/* ROBOTO CONDENSED */

@font-face {
    font-family: 'Roboto Condensed';
    src: url('../Assets/Fonts/Roboto_Condensed/static/RobotoCondensed-Black.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url('../Assets/Fonts/Roboto_Condensed/static/RobotoCondensed-Bold.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url('../Assets/Fonts/Roboto_Condensed/static/RobotoCondensed-Italic.ttf') format('truetype');
    font-style: italic;
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url('../Assets/Fonts/Roboto_Condensed/static/RobotoCondensed-BoldItalic.ttf') format('truetype');
    font-style: italic;
    font-weight: bold;
}



/* STYLE */

/* ALL */

* {
    color: white;
}


/* Elements */

body {
    background-color: rgb(0 0 0 / 0.94) !important;
}

a {
    text-decoration: none;
}


/* Classes */

.projectcontainer {
    border: white 4px solid;
    padding: 10px 30px 30px 30px;
    border-radius: 10px;
    margin-bottom: 15px;
    width: 100vh;
}


.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-family: 'Horizon', "Georgia", serif;
}

.headinginfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-family: 'Horizon Outlined', "Georgia", serif;
}

.masterprojectcontainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.projectname {
    font-family: "Roboto Condensed", "Georgia", serif;
    font-style: italic;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 150%;
}



.projectinfo {
    font-family: "Roboto Condensed", "Georgia", serif;
    font-style: italic;
    font-size: 18px;
}

.link {
    font-family: "Roboto Condensed", "Georgia", serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-style: italic;
    width: 10%;
}

.notextdecoration {
    text-decoration: none;
}

.img {
    display: flex;
    flex-direction: column;
    justify-content: start;
    height: 10%;
    width: 100%;

}

.githubrepolink {
    display: flex;
    flex-direction: row;
}

.githublogo {
    width: 3%;
    height: 3%;
}

.notcentered {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.houseionicon {
    width: 5vh;
    height: 5vh;
    margin: 10px;
}

.bigtext {
    font-size: 300%;
}

.mediumtext {
    font-size: 130%;
}

.gargStudiosLogo {
    width: 3.5%;
    height: 3.5%;
    margin: 0px;
}

.containsimg {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.discordphoto {
    width: 80%;
    height: 80%;
}


/* ID */


